{# src/OG/InversaBundle/Resources/views/Admin/adminbase.html.twig #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}Ensemble Inversa{% endblock %}</title>
  <link href="{{ asset('bundles/oginversa/css/inversa.admin.css') }}" type="text/css" rel="stylesheet" / >
  <link href="{{ asset('bundles/oginversa/css/inversa.form.css') }}" type="text/css" rel="stylesheet" />
  <link href="{{ asset('bundles/oginversa/css/kendo/kendo.common.min.css') }}" type="text/css" rel="stylesheet" />
  <link href="{{ asset('bundles/oginversa/css/kendo/kendo.default.min.css') }}" type="text/css" rel="stylesheet">
  <script src="{{ asset('bundles/oginversa/js/jquery-1.7.1.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/oginversa/js/inversa.admin.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/oginversa/js/inversa.util.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/oginversa/js/inversa.dynedit.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/oginversa/js/inversa.form.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/oginversa/js/kendo/kendo.all.min.js') }}" type="text/javascript"></script> 
  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
  <img id="adminImage" src="{{ asset('bundles/oginversa/images/admin_title.png') }}" border="0" alt="Admin" align="left" />
  
  {% if app.user %}
  <div class="userheader" align="right">
    {{ app.user.username }} &nbsp;&nbsp;&nbsp;<span class="footertext"><a href="{{ path('_admin_logout') }}">logout</a></span>
  </div>
  {% endif %}
  <br clear="all" />
  
  <div class="header" id="headerdiv"><span class="adminmenu">
  <a href="{{ path('_admin_home' ) }}" class="adminmenu info">Info</a>
  &nbsp;&nbsp;&nbsp;<a href="{{ path('admin_agendaitem' ) }}" class="adminmenu agenda">Agenda</a>
  &nbsp;&nbsp;&nbsp;<a href="{{ path('admin_projectitem' ) }}" class="adminmenu projects">Projekte</a>
  &nbsp;&nbsp;&nbsp;<a href="{{ path('admin_mediaitem' ) }}" class="adminmenu media">Media</a>
  &nbsp;&nbsp;&nbsp;<a href="{{ path('admin_pressitem' ) }}" class="adminmenu press">Presse</a>
  &nbsp;&nbsp;&nbsp;<a href="{{ path('admin_galleryitem' ) }}" class="adminmenu gallery">Galerie</a>
  </span></div>
  <div class="thinline"> </div>
  
  <div class="inversacontent">
    {% block body %}{% endblock %}
  </div>

  <div class="footer" id="footerdiv">
    <div class="thinline"></div>
    <span class="footertext">Copyright &copy; 2012 by <a class="info" href="mailto:mail@ensemble-inversa.ch">Ensemble Inversa</a></span>
  </div>

{% block javascripts %}   
{% endblock %}
</body>
</html>