{% extends 'OGInversaBundle:Content:base.html.twig' %}

{% block title %}
    Ensemble Inversa | Agenda - Archiv
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/inversa.simple.css" />
{% endblock %}

{% block js %}
  <script src="/js/inversa.simple.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="content" style="width:1220px;">
    <div class="defaultcontent">
      <div id="membertitle" class="fixdiv" style="z-index:5; top: 123px; left:160px;">
        <img src="/images/simple/typo_archiv.png" />
      </div>
      <div id="maincontent" class="maincontent stackdiv" style="background-color:#696969">
        <div class="textcontent">
           {% for entity in entities %}
           <div class="agendaentry">
             {% if entity.eventdate %}
             <h4 class="date">{{ entity.eventdate | date("d.m.Y") }}</h4>
             {% endif %}
             <h2>{{ entity.name }}</h2>
             {% if entity.images | length == 0 %}
             {% elseif entity.images | length > 4 %}
             <div class="inversa-gallery inversa-smoothScrollArea">
             {% for img in entity.images %}
               <a href="{{ img.webPath | apply_filter('inversaDetailedThumb') }}" rel="lightbox" title="{{ img.name }}"><img src="{{ img.webPath | apply_filter('inversaGalleryThumb') }}" /></a>
             {% endfor %}
             </div>      
             {% else %}
             <div class="inversa-gallery">
             {% for img in entity.images %}
               <a href="{{ img.webPath | apply_filter('inversaDetailedThumb') }}" rel="lightbox" title="{{ img.name }}"><img src="{{ img.webPath | apply_filter('inversaGalleryThumb') }}" /></a>
             {% endfor %}
             </div>
             {% endif %}
             <p class="description">{{ entity.description | nl2br }}</p>
             {% if entity.location %} 
             <p class="entry">Ort: <span class="content">{{ entity.location.name }} (<a href="{{ path('_content_location_show', { 'id': entity.location.id, 'name' : name }) }}" class="content"><span class="details">Details <img src="/css/images/location_white.png" /></span></a>)</span></p>
             {% endif %}
             <p class="entry">Zeit: <span class="content">{{ entity.eventtime }}</span></p>
             <p class="entry">Teilnehmer: <span class="content">{{ entity.participants }}</span></p>
             <p>
             {% if entity.documents|length > 0 or entity.links|length > 0 %}
             <h5>Zusätzliche Informationen</h5>
             {% if entity.documents|length > 0 %}
             <ul class="itemlistdoc">
             {% for doc in entity.documents %}
               <li><a href="http://{{ app.request.host }}/{{ doc.webPath|e }}" target="_blank" class="content">{{ doc.name|e }}</a></li>
             {% endfor %}
             </ul>
             {% endif %}
             {% if entity.links|length > 0 %}
             <ul class="itemlisturl">
             {% for link in entity.links %}
               <li><a href="{{ link.url|e }}" target="_blank" class="content">{{ link.name|e }}</a></li>
             {% endfor %}
             </ul>
             {% endif %}
             {% endif %}
             </p>
             <br />
           </div>
           {% else %}
           <p class="noentries">Zurzeit keine archivierten Anlässe</p>
           {% endfor %}
        </div>
      </div>
    </div>
</div>
{% endblock %}
