{# src/OG/InversaBundle/Resources/views/Content/base.html.twig #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <title>{% block title %}Ensemble Inversa{% endblock %}</title>
	    <link rel="stylesheet" type="text/css" href="/css/inversa.css" />
	    <link rel="stylesheet" type="text/css" href="/css/lightbox/jquery.lightbox-0.5.css" />
	    <link rel="stylesheet" type="text/css" href="/css/inversa.gallery.css" />
      <link rel="stylesheet" type="text/css" href="/css/smoothscroll/smoothDivScroll.css" />
	    {% block css %}{% endblock %}
	    
	    <script src="/js/jquery-1.7.2.min.js" type="text/javascript"></script>  
	    <script src="/js/jquery-ui-1.8.24.custom.min.js" type="text/javascript"></script>  
	    <script src="/js/lightbox/jquery.lightbox-0.5.min.js" type="text/javascript"></script>
	    <script src="/js/smoothscroll/jquery.mousewheel.min.js" type="text/javascript"></script>
      <script src="/js/smoothscroll/jquery.kinetic.js" type="text/javascript"></script>
      <script src="/js/smoothscroll/jquery.smoothdivscroll-1.3-min.js" type="text/javascript"></script>        
       
	    <script src="/js/inversa.util.js" type="text/javascript"></script>
	    <script src="/js/inversa.main.js" type="text/javascript"></script>
	    <script src="/js/inversa.menu.js" type="text/javascript"></script>      
      {% block js %}{% endblock %}    
        
      <link rel="shortcut icon" href="/favicon.ico" />
    </head>
    <body>
    <!-- Menu -->
    <div id="menudiv" class="menu">
    <div id="mainMenu" class="defaultmenu">
    <div style="margin-left:365px;">
      <a href="{{ path('_content_home') }}" class="menu" id="home">Home</a>&nbsp;&nbsp;|&nbsp;
      <a href="{{ path('_content_inversa') }}" class="menu" id="inversa">Ensemble Inversa</a>&nbsp;&nbsp;|&nbsp;
      <a href="{{ path('_content_agenda') }}" class="menu" id="agenda">Agenda</a>&nbsp;&nbsp;|&nbsp;
      <a href="{{ path('_content_projects') }}" class="menu" id="projects">Projekte</a>&nbsp;&nbsp;|&nbsp;
      <a href="{{ path('_content_media') }}" class="menu" id="media">Media</a>&nbsp;&nbsp;|&nbsp;
      <a href="{{ path('_content_cds') }}" class="menu" id="cds">CDs</a>&nbsp;&nbsp;|&nbsp;
      <a href="{{ path('_content_gallery') }}" class="menu" id="gallery">Galerie</a>&nbsp;&nbsp;|&nbsp;
      <a href="{{ path('_content_contact') }}" class="menu" id="contact">Kontakt</a>
                  
      <div id="inversamenu" class="dropdownmenu">
        <div class="menuentry">
          <a href="{{ path('_content_inversa_panflute') }}" class="menu" id="panflute">Panflöte</a>
        </div>
        <div class="menuentry">        
          <a href="{{ path('_content_inversa_violin') }}" class="menu" id="violin">Violine</a>
        </div>
        <div class="menuentry">                
          <a href="{{ path('_content_inversa_flute') }}" class="menu" id="flute">Querflöte</a>
        </div>
        <div class="menuentry">                
          <a href="{{ path('_content_inversa_organ') }}" class="menu" id="organ">Orgel</a>
        </div>
      </div>
      <div id="agendamenu" class="dropdownmenu">
        <div class="menuentry">         
          <a href="{{ path('_content_agenda') }}" class="menu" id="agendacurrent">aktuell</a>
        </div>
        <div class="menuentry">           
          <a href="{{ path('_content_agenda_archive') }}" class="menu" id="agendaarchive">Archiv</a>
        </div>        
      </div>
      <div id="mediamenu" class="dropdownmenu">
        <div class="menuentry">         
          <a href="{{ path('_content_media') }}" class="menu" id="examples">Hörbeispiele</a>
        </div>
        <div class="menuentry">   
          <a href="{{ path('_content_media_videos') }}" class="menu" id="videos">Videos</a>
        </div>
        <div class="menuentry">           
          <a href="{{ path('_content_media_press') }}" class="menu" id="press">Presse</a>
        </div>
        <div class="menuentry">           
          <a href="{{ path('_content_media_downloads') }}" class="menu" id="downloads">Downloads</a>
        </div>
      </div>
    </div>
    </div>
	</div>
    
    {% block content %}{% endblock %}
    
    <!-- Footer -->
    <div id="footerdiv" class="footertext">    
      &copy; 2012 <a class="footer" href="mailto:info@ensemble-inversa.ch">Ensemble Inversa</a>&nbsp;&nbsp;|&nbsp;&nbsp;Gestaltung:
      <a class="footer" href="http://www.tobiasnajer.ch" target="_blank">Tobias Najer</a>&nbsp;&nbsp;|&nbsp;&nbsp;Programmierung: <a class="footer" href="http://www.oliviergirard.ch" target="_blank">Olivier Girard</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="footer" href="{{ path('_admin_home') }}">Admin</a>
    </div>
    {% block javascripts %}{% endblock %}
    
    <script type="text/javascript">
      var activeMenu = '{{ name }}';
    </script>
    </body>
</html>