{# src/OG/InversaBundle/Resources/views/Default/index.html.twig #}
{% extends 'OGInversaBundle:Content:base.html.twig' %}

{% block title %}
    Ensemble Inversa | CDs
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/inversa.simple.css" />
{% endblock %}

{% block js %}
  <script src="/js/inversa.simple.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="content" style="width:1220px;">
    <div class="defaultcontent">
      <div id="membertitle" class="fixdiv" style="z-index:5; top: 123px; left:160px;">
        <img src="/images/simple/typo_cds.png" />
      </div>
      <div id="maincontent" class="maincontent stackdiv" style="background-color:#696969">
        <div class="textcontent">
           {% for entity in entities %}
           <div class="cditem">
             {% if entity.published %}
             {% if date(entity.published) > date('-60days') %}
               <h4 class="date today">Neue CD!</h4>
             {% else %}
             <h4 class="date">Publikation vom {{ entity.published | date("d.m.Y") }}</h4>
             {% endif %}
             {% endif %}
             <h2>{{ entity.name }}</h2>
             {% if entity.image and entity.image.webPath %}
               <a href="{{ entity.image.webPath | apply_filter('inversaDetailedThumb') }}" rel="lightbox" title="{{ entity.image.name }}"><img src="{{ entity.image.webPath | apply_filter('inversaOverviewThumb') }}"/></a><br />
             {% endif %}           
             {% if entity.description %}
             <p class="description">{{ entity.description | nl2br }}</p>
             {% endif %}
             {% if entity.songs %}
             <p class="songs">
             {{ entity.formattedsongs | raw }} 
             </p>
             {% endif %}
             {% if entity.canorder %}
             <p class="orderlink" style="margin-top:5px">
             <a href="{{ path('_content_cd_order', { 'id': entity.id }) }}" class="content"><img src="/css/images/cart.png" /> CD erhältlich für {{ entity.price }} (Bestellformular)</a>
             </p>             
             {% endif %}
             <br />
           </div>
           {% else %}
           <p class="noentries">Zurzeit keine veröffentlichten CDs</p>
           {% endfor %}
        </div>
      </div>
    </div>
</div>
{% endblock %}
