{# src/OG/InversaBundle/Resources/views/Default/index.html.twig #}
{% extends 'OGInversaBundle:Content:base.html.twig' %}

{% block title %}
    Ensemble Inversa | Galerien
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/css/inversa.simple.css" />
{% endblock %}

{% block js %}
  <script src="/js/inversa.simple.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="content" style="width:1220px;">
    <div class="defaultcontent">
      <div id="membertitle" class="fixdiv" style="z-index:5; top: 123px; left:160px;">
        <img src="/images/simple/typo_galerie.png" />
      </div>
      <div id="maincontent" class="maincontent stackdiv" style="background-color:#696969">
        <div class="textcontent">
          {% for entity in entities %}
           <div class="galleryentry">
             <h2>{{ entity.name }}</h2>
             <h4 class="date">
             {% if  entity.images | length == 0  %} Bild vom 
             {% else %}
             {{ entity.images | length }} Bilder vom
             {% endif %}
             {{ entity.published | date("d.m.Y") }}</h4>
             {% if entity.images | length == 0 %}
             {% elseif entity.images | length > 4 %}
             <div id="inversa-gallery_{{ entity.id }}" class="inversa-gallery">
             {% for img in entity.images %}
               <a href="{{ img.webPath | apply_filter('inversaDetailedThumb') }}" rel="gallery_{{ entity.id }}" title="{{ img.name }}"><img src="{{ img.webPath | apply_filter('inversaGalleryThumb') }}" class="inversa-gallery-image" /></a>
             {% endfor %}
             </div>      
             {% else %}
             <div class="inversa-gallery">
             {% for img in entity.images %}
               <a href="{{ img.webPath | apply_filter('inversaDetailedThumb') }}" rel="gallery_{{ entity.id }}" title="{{ img.name }}"><img src="{{ img.webPath | apply_filter('inversaGalleryThumb') }}" class="inversa-gallery-image" /></a>
             {% endfor %}
             </div>
             {% endif %}
             <p class="description">{{ entity.description | nl2br }}</p>
             <br />
           </div>
           {% else %}
           <p class="noentries">Zurzeit keine Galerien</p>
           {% endfor %}
        </div>
      </div>
    </div>
</div>
<script type='text/javascript'>
PageOnStartup = function() {
	 {% for entity in entities %}
	   CreateGallery("gallery_{{ entity.id }}");

	   $("#inversa-gallery_{{ entity.id }}").smoothDivScroll({
		   manualContinuousScrolling: true,
		   mousewheelScrollingStep: 100,
		   mousewheelScrolling: "allDirections",
		   hotSpotScrollingStep: 15,
		   hotSpotScrollingInterval: 50
		 });
		   
	 {% endfor %}
};
</script>
{% endblock %}
