{# src/OG/InversaBundle/Resources/views/Default/index.html.twig #}
{% extends 'OGInversaBundle:Content:base.html.twig' %}

{% block title %}
    Ensemble Inversa | Panflöte
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/oginversa/css/inversa.default.css') }}" />
{% endblock %}

{% block js %}
  <script src="{{ asset('bundles/oginversa/js/inversa.default.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="content" style="width:1220px;">
    <div class="defaultcontent">
      <div id="memberwww" class="fixdiv smalltext" style="z-index:1">
        <a href="http://www.hanspeteroggier.ch" target="_new" class="inverse">www.hanspeteroggier.ch</a>
      </div>      
      <div id="memberimage" class="fixdiv" style="left: 160px; top: 147px; z-index:1;">
        <img src="{{ asset('bundles/oginversa/images/panflute/foto_hanspeter.png') }}" />            
      </div>
      <div id="memberaddress" class="fixdiv smalltext" style="z-index:1">
        Mutschellenstrasse 163<br />
        8038 Z&uuml;rich<br />
        +41 (0)78 665 11 28<br />
        <a href="mailto:hanspeter@ensemble-inversa.ch" class="inverse">E-Mail</a>
      </div>   
      <div id="membertitle" class="fixdiv" style="z-index:5; top: 123px;">
        <img src="{{ asset('bundles/oginversa/images/panflute/typo_hanspeter.png') }}" />
      </div>
      
      <div id="maincontent" class="maincontent stackdiv" style="background-color:#dd0000">
        <div class="textcontent">
<p>Hanspeter Oggier, Panflöte</p>
<p>in St. Niklaus (Schweiz, VS) geboren.  Erste Ausbildung auf der Panflöte bei verschiedenen Lehrern im Oberwallis, ab 1996 erhält er in Genf regelmässigen Unterricht bei Simion Stanciu „Syrinx“.</p>
<p>Im Herbst 2002 beginnt Hanspeter Oggier beim SMPV das Musikstudium mit Hauptfach Panflöte in Genf und Zürich. 2005 erhält er das Lehrdiplom (Hauptfachlehrer Simion Stanciu Syrinx), 2008 das Konzertdiplom SMPV mit Auszeichnung (Hauptfachlehrer Herr Kiyoshi Kasai, Dozent für Querflöte an der Musikakademie Basel). Im Anschluss daran nimmt er an der Musikhochschule Luzern den Studiengang „Master of Arts in Music mit Major Performance Klassik“ in Angriff, welchen er im Juli 2010 erfolgreich abschliesst (Hauptfachlehrerin Janne Thomsen, Gastdozentin für Querflöte).</p>
<p>In den letzten Jahren entfaltet er eine rege Konzertätigkeit als Solist und Kammermusiker. Dabei ist es ihm ein grosses Anliegen, die vielfältigen und teilweise immer noch unbekannten Facetten der Panflöte  zu zeigen. So wagt er sich an Werke verschiedener Epochen und Stilrichtungen, die er als Novum auf der Panflöte interpretiert. Wichtig ist ihm dabei, der Panflöte ihre urtümlich eigene Natürlichkeit und Sprache zurückzugeben.</p>
<p>Im Jahre 2007 ist Hanspeter Oggier Preisträger der Kiefer Hablitzel Stiftung. Im Dezember 2008 erscheint seine erste CD „Arpeggione“ in Zusammenarbeit mit Marielle Oggier (Querflöte) und Mathias Clausen (Klavier) bei „musica nobilis“.</p> 
<p>Ab dem Herbstsemester 2011 ist Hanspeter Oggier als Fachbeauftragter für Panflöte (Abteilung Klassik) an der Hochschule Luzern-Musik tätig.</p>

      </div>
      
      <div id="instrumentimage" class="stackdiv" style="margin-left:610px; z-index:2">
        <img src="{{ asset('bundles/oginversa/images/panflute/typo_panfloete.png') }}" />
      </div>
    </div>
    </div>
{% endblock %}
