{# src/OG/InversaBundle/Resources/views/Default/index.html.twig #}
{% extends 'OGInversaBundle:Content:base.html.twig' %}

{% block title %}
    Ensemble Inversa | Violine
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/oginversa/css/inversa.default.css') }}" />
{% endblock %}

{% block js %}
  <script src="{{ asset('bundles/oginversa/js/inversa.default.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <div class="content" style="width:1220px;">
    <div class="defaultcontent">
      <div id="memberwww" class="fixdiv smalltext" style="z-index:1">
        <a href="http://www.laidaalberdi.ch" target="_new" class="inverse">www.laidaalberdi.ch</a>
      </div>      
      <div id="memberimage" class="fixdiv" style="left: 160px; top: 147px; z-index:1;">
        <img src="{{ asset('bundles/oginversa/images/violin/foto_laida.png') }}" />            
      </div>
      <div id="memberaddress" class="fixdiv smalltext" style="z-index:1">
        Mutschellenstrasse 163<br />
        8038 Z&uuml;rich<br />
        +41 (0)78 665 11 28<br />
        <a href="mailto:laida@ensemble-inversa.ch" class="inverse">E-Mail</a>
      </div>   
      <div id="membertitle" class="fixdiv" style="z-index:5; top: 123px;">
        <img src="{{ asset('bundles/oginversa/images/violin/typo_laida.png') }}" />
      </div>
      
      <div id="maincontent" class="maincontent stackdiv" style="background-color:#662d91">
        <div class="textcontent">
          <p>Laida Alberdi, Violine</p>
          <p>in San Sebastián (Spanien) geboren, erhält ihren ersten Unterricht auf der Violine mit drei Jahren in San Sebastián bei A.M. Sebastián. Sie studiert in Irún mit R. Acella und später am „ Conservatorio Superior de Música Pablo Sarasate“ vom Pamplona, wo sie den „Título Superior de Violín“ 2002 mit Erfolg abschliesst. Es folgen zwischen 2003-2005 Studien in Madrid bei Yuri Volguin und Zakhar Bron. Ab 2005 zieht sie in die Schweiz und bereitet sich an der Musikhochschule Zürich bei Robert Zimansky auf das Konzertdiplom (Master of Performance – Konzert) vor und schliess dieses im Juni 2010 mit Auszeichnung ab.</p>
<p>Sie besuchte Kurse und Meisterkurse bei Z. Bron, A. Zifra, D. Zafer, V. Manoogian, E.H. Asiáin, Y. Volguin, V. Pikaisen und B. Doll. Sie nahm am folgenden Festivals teil: „Quincena Musical“ von San Sebastián, „Festival de Rostropovich“ in Burdeos und „Festival Moderne Musik in Boswil“, Schweiz. Konzertätigkeit als Solistin und Kammermusikerin in verschiedenen Konzertsälen in Spanien, Deutschland, Frankreich und der Schweiz als auch Orchestermusikerin in Spanien und der Schweiz.
Sie entdeckt ihre Interesse für Zeitgenösische Musik und hat mit verschiedenen zeitgenössischen Komponisten in der Schweiz wie H. Lachenmann, D. Glaus und K. Huber in der Schweiz gearbeitet.</p>
<p>In den Jahren 1995-97 ist sie Finalistin und Preisträgerin an den Jugendwettbewerben vom Baskenland. Von 2002 bis 2004 ist sie doppelte Preisträgerin des „Lartundo“ Stipendien- Wettbewerbs in San Sebastián sowie auch zweifache Preisträgerin des Stipendien-Wettbewerbs der „Diputación Foral de San Sebastián“ (2003-2005). 2007 Gewinnerin des baskischen „Nicanor Zabaleta“-Wettbewerbs.</p>
<p>Verschiedene Stiftungen haben sie mit Stipendien unterstützt: Vontobel-Stiftung, Elsy Meyer-Stiftung, Fritz-Gerber-Stiftung, Dr. Max Husmann-Stiftung, Giuseppe Kaiser-Stiftung, Alfred und Bertha Zangger-Weber Stiftung, der Freundeskreis Musik der Zürcher Hochschule der Künste und die ZHdK.</p><p>
Laida Alberdi ist Gründungsmitglied des Ensembles Inversa.
          </p>
		</div>
      </div>
      
      <div id="instrumentimage" class="stackdiv" style="margin-left:610px; z-index:2; margin-top:-1px">
        <img src="{{ asset('bundles/oginversa/images/violin/typo_violine.png') }}" />
      </div>
    </div>
    </div>
{% endblock %}
