{% extends 'OGInversaBundle:Admin:adminbase.html.twig' %}

{% block body %}
  
<h1>Neue Galerie</h1>

<form id="createitemform" action="{{ path('admin_galleryitem_create') }}" method="post" {{ form_enctype(form) }} style="display: inline-block;">   
  {{ form_widget(form) }}
  <br />
  
  <a href="#" id="add-image"><img src="/css/images/add.png" /> Neues Bild</a><br />          
 
  <div style="text-align: right; width:100%" class="actionswithborder">
    <button type="submit" class="actionbutton k-button">Speichern</button>
  </div>  
</form>

<div class="actions">
  <button class="actionbutton k-button" onclick="window.location.href='{{ path('admin_galleryitem') }}'">Liste</button>
</div> 

{% endblock %}

{% block javascripts %}

  {{ parent() }} 
<script type="text/javascript">
    InitDynamicEdit('{{ form.images | length }}', '#add-image', '#og_inversabundle_galleryitemtype_images', 'Bild');
</script>

{% endblock %}