{% extends 'OGInversaBundle:Admin:adminbase.html.twig' %}

{% block body %}

<h1>CD "{{ entity.name }}"</h1>

<table class="entitytable">
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Beschreibung</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>Datum</th>
            <td>{{ entity.published | date("d.m.Y") }}</td>
        </tr>
        <tr>
            <th>Bild</th>
            <td>
            {% if entity.image.webpath %}           
              <a href="{{ entity.image.webPath | apply_filter('inversaDetailedThumb') }}" rel="lightbox" title="{{ entity.image.name }}"><img src="{{ entity.image.webPath | apply_filter('inversaOverviewThumb') }}" /></a>
            {% endif %}
            </td>
        </tr>        
        <tr>
            <th>Bestellformular</th>
            <td>
             {% if entity.canorder %}
                   Aktiv
                {% else %}
                   Nicht aktiv
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Preis</th>
            <td>{{ entity.price }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
             {% if entity.isactive %}
                   Aktiv
                {% else %}
                   Nicht aktiv
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
<br />
<br />
<div class="actionswithborder actionsspacing">
<button class="actionbutton k-button" onclick="window.location.href='{{ path('admin_cditem_edit', { 'id': entity.id }) }}'">Editieren</button>
<form id="deleteitemform" action="{{ path('admin_cditem_delete', { 'id': entity.id }) }}" method="post" onsubmit="return DeleteElementGuard();" style="display: inline-block;">
    {{ form_widget(delete_form) }}
    <button class="actionbutton k-button" type="submit">Löschen</button> 
</form> 
<button class="actionbutton k-button" onclick="window.location.href='{{ path('admin_cditem') }}'">Liste</button>
</div>

{% endblock %}
