{% extends 'OGInversaBundle:Admin:adminbase.html.twig' %}

{% block body %}
  
<h1>Projekt "{{ entity.name }}" Editieren</h1>

<form id="edititemform" action="{{ path('admin_projectitem_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <table class="formtable">
    {{ form_widget(edit_form) }}
    </table> <br />
     
    <a href="#" id="add-document">Neues Dokument</a><br />  
    
     <p>
        <button type="submit">Speichern</button>
    </p>  
</form>
<span class="actionlist">
  <form id="deleteitemform" action="{{ path('admin_projectitem_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}    
  </form>  
  <br /><br />
  <a href="" onclick="$('#edititemform').submit();" class="actionbutton"><span>Speichern</span></a>
  <a href="" onclick="deleteGuarded()" class="actionbutton" style="margin-left:10px"><span>L&ouml;schen</span></a>
  <a href="{{ path('admin_projectitem') }}" onclick="$('#deleteitemform').submit();" class="actionbutton" style="margin-left:50px"><span><img src="{{ asset('bundles/oginversa/images/list.png') }}" border="0" alt="Liste anzeigen" align="left" title="Liste anzeigen" />Liste anzeigen</span></a>
</span>

{% endblock %}

{% block javascripts %}

  {{ parent() }} 
<script type="text/javascript">
    // keep track of how many document fields have been rendered
    var documentCount = '{{ edit_form.documents | length }}';
    var linkCount = '{{ edit_form.links | length }}';
    var imageCount = '{{ edit_form.images | length }}';

    $(document).ready(function() {
        var docDynEdit = new dynedit(documentCount, '#add-document', '#og_inversabundle_projectitemtype_documents');
        docDynEdit.Initialize();
        
        // RegisterAddLink('#og_inversabundle_projectitemtype_links');
        // RegisterAddImage('#og_inversabundle_projectitemtype_images');
    });

    function deleteGuarded() {
        if (confirm("Soll dieses Element definitiv gelöscht werden?")) {
      	  $('#deleteitemform').submit();
        }      
        return false;
    }
    
</script>
{% endblock %}