{% extends 'OGInversaBundle:Admin:adminbase.html.twig' %}

{% block body %}

<h1>Locations</h1>
<table class="records_list">
    <thead>
        <tr>
            <th column-width="25" data-field="ID" data-type="number">ID</th>
            <th column-width="200" data-field="Name" data-type="string">Name</th>
            <th column-width="200" data-field="Beschreibung" data-type="string" data-filterable="false" data-sortable="false" data-groupable="false">Beschreibung</th>
            <th column-width="200" data-field="Adresse" data-type="string">Adresse</th>
            <th column-width="50" data-field="Karte" data-type="string" data-filterable="false" data-sortable="false" data-groupable="false">Karte</th>
            <th column-width="200" data-field="Aktionen" data-filterable="false" data-sortable="false" data-groupable="false">&nbsp;&nbsp;</th>
        </tr>
    </thead>
    <script type="text/x-kendo-template" id="listtoolbartemplate">
       <div class="toolbar">
         <button class="k-button" onclick="window.location.href='{{ path('admin_location_new') }}'">Neuer Eintrag</button>
       </div>
    </script>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.name }}</td>
            <td><span class="cellwithtooltip" title="{{ entity.description | e }}">{{ entity.description | truncate }}</span></td>
            <td>{{ entity.address }}</td>
            <td><a href="{{ entity.mapurl | e }}" target="_blank">Karte</a></td>
            <td>
                <div class="actionswithborder">
                  <button class="k-button" onclick="window.location.href='{{ path('admin_location_show', { 'id': entity.id }) }}'">anzeigen</button>
                  <button class="k-button" onclick="window.location.href='{{ path('admin_location_edit', { 'id': entity.id }) }}'">editieren</button>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}