{% extends 'OGInversaBundle:Admin:adminbase.html.twig' %}

{% block body %}
  
<h1>Benutzer "{% if entity.name and entity.firstname %}{{ entity.firstname }} {{ entity.name }}{% else  %}{{ entity.username }}{% endif %}" editieren</h1>

<form id="edititemform" action="{{ path('admin_user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} style="display: inline-block;">
  {{ form_widget(edit_form) }}
  <br />  
  <div style="text-align: right; width:100%" class="actionswithborder">
  <button type="submit" class="actionbutton k-button">Speichern</button>
  </div>  
</form>
<form id="deleteitemform" action="{{ path('admin_user_delete', { 'id': entity.id }) }}" method="post" onsubmit="return DeleteElementGuard();" style="display: inline-block;">
    {{ form_widget(delete_form) }}
    <div class="actions" style="margin-left:-1px;">
      <button class="actionbutton k-button" type="submit">Löschen</button>
    </div> 
</form>
<div class="actions" style="margin-left: -4px">  
<button class="actionbutton k-button" onclick="window.location.href='{{ path('admin_user') }}'">Liste</button>
</div> 

{% endblock %}
