{% extends 'OGInversaBundle:Admin:adminbase.html.twig' %}

{% block body %}
  
<h1>InversaUser list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Firstname</th>
            <th>Email</th>
            <th>Password</th>
            <th>Lastlogin</th>
            <th>Isactive</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.username }}</td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.firstname }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.password }}</td>
            <td>{% if entity.lastlogin %}{{ entity.lastlogin|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.isactive }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_user_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{% endblock %}